:root {
  --primary: #ffffff;
  --complementary: #000000;
  --brand: #059669;
  --highlight: #9ca3af;
  --success: #16a34a;
  --error: #dc2626;
}

body {
  box-sizing: border-box;
}

/* GENERAL APP */

#hero-section {
  margin: 1rem auto;
  padding: 2rem 10rem;
}

#hero-section h1 {
  font-weight: bolder;
  font-size: 4em;
  margin: 2rem 0;
}

#hero-section p {
  margin: 1.5rem 0;
}

footer {
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #212529;
}

/* PRODUCT SECTION */
.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}

.productItem {
  margin: 1rem 0;
}
